<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean enim enim, ullamcorper eget ultrices at, lobortis sit amet ex. Nulla pulvinar diam a diam efficitur, condimentum molestie nisi maximus. Nulla magna elit, bibendum ut dui sed, tristique pulvinar dui. Ut sit amet laoreet augue, sed malesuada risus. Morbi sed tellus eget ipsum blandit fringilla eu eu justo. Ut quam ligula, pulvinar sit amet malesuada in, imperdiet at sapien. Vestibulum iaculis bibendum hendrerit. Sed vitae molestie magna, in sagittis arcu. Nullam fringilla tortor magna, id porttitor quam dignissim quis. Phasellus consequat, ex vitae ullamcorper blandit, orci nibh vestibulum ipsum, vitae mattis purus dolor eget elit. Integer in ultricies tellus. Aliquam ac odio sed arcu mollis dictum. Pellentesque sagittis urna lectus. Nam ornare lacinia felis pretium varius. Nullam eget arcu auctor lorem egestas maximus at eget nisl. Nam egestas eget felis in aliquam.</p>

<%- include("footer") -%>
